#!/bin/bash

DESTINATION_PROTOCOL="protocol"
DESTINATION_USERNAME="destination-username"
DESTINATION_PASSWORD="destination-password"
export AWS_ACCESS_KEY_ID="${DESTINATION_USERNAME}"
export AWS_SECRET_ACCESS_KEY="${DESTINATION_PASSWORD}"
export FTP_PASSWORD="${DESTINATION_PASSWORD}"

GPG_ENCRYPT_KEY="encryption-key-fingerprint"
GPG_SIGN_KEY="signing-key-fingerprint"
export PASSPHRASE="encryption-key-passphrase"
export SIGN_PASSPHRASE="signing-key-passphrase"

LOGFILE="/var/log/duplicity/${BACKUP_NAME}.log"
CURRENTLOGFILE="/var/log/duplicity/${BACKUP_NAME}.latest.log"

MAILADDR="email@example.com"
MAILSUBJ="Duplicity Backup Log for $(hostname) - $(date +%Y-%m-%d)"

TODAY=$(date +%d%m%Y)

DEST="${DESTINATION_PROTOCOL}://${DESTINATION_USERNAME}@${DESTINATION_PATH}"
