#!/bin/bash

BACKUP_NAME="backup-mysql"

DESTINATION_PATH="bucket-name"

REMOVE_OLDER_THAN="60D"

MYSQL_USER="root"
MYSQL_PASS="password"
MYSQL_DEST="/var/backups/mysql"

. "$DIR"/includes/config-global.sh
