#!/bin/bash

BACKUP_NAME="backup-postgres"

DESTINATION_PATH="bucket-name"

REMOVE_OLDER_THAN="60D"

PSQL_HOST="postgres"
PSQL_USER="postgres"
PSQL_PASSFILE="/tmp/pgbackup/.pgpass"
PSQL_DEST="/var/backups/psql"

. "$DIR"/includes/config-global.sh
